<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
  <head>
    <meta charset="UTF-8">
    <base href="{% base %}" />
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>
      {{ site.title }}
      {% if page.title %}
        {{ site.title_separator }}
        {{ page.title }}
      {% endif %}
    </title>

    <link href='{{ 'assets/css/styles.css' | asset }}' rel='stylesheet'>
  </head>

  <body>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title"><a href="{% base %}">{{ site.title }}</a></h1>
        </div>
      </div>
    </nav>
    {{ content }}

    <footer class="footer">
      <div class="content has-text-centered">
        <p>Todo el contenido licenciado bajo la
        <a rel="license"
           href="https://endefensadelsl.org/ppl_deed_es.html">Licencia
           de Producción de
           Pares</a></p>
      </div>
    </footer>
  </body>
</html>
